[Unit]
Description=Mirrorlist Server {{ item }}

[Service]
User=mirrormanager
{% if ansible_distribution_major_version|int < 31  %}
ExecStartPre=-/usr/bin/podman stop -t 1 %n
ExecStartPre=-/usr/bin/podman rm %n --force
ExecStart=/usr/bin/podman run \
            --rm=true \
            --net=host --userns=keep-id \
            --rm=true --name %n \
            -v /usr/share/GeoIP:/usr/share/GeoIP \
            -v /srv/mirrorlist/data/mirrorlist{{ item }}:/var/lib/mirrormanager \
            -v /var/log/mirrormanager:/var/log/mirrormanager \
{% if env == "staging" %}
            {{ mirrorlist_container_image_stg }} \
{% else %}
            {{ mirrorlist_container_image }} \
{% endif %}
                 --port 1808{{ item }} \
                 --listen 127.0.0.1 \
                 -l /var/log/mirrormanager/%n.log
ExecStop=/usr/bin/podman stop -t 1 %n
KillMode=none
{% else %}
ExecStart=/usr/bin/mirrorlist-server \
           --port 1808{{ item }} \
           --listen 127.0.0.1 \
           -l /var/log/mirrormanager/%n.log \
           --cache /srv/mirrorlist/data/mirrorlist{{ item }}/mirrorlist_cache.proto \
           --internet2_netblocks /srv/mirrorlist/data/mirrorlist{{ item }}/i2_netblocks.txt \
           --global_netblocks /srv/mirrorlist/data/mirrorlist{{ item }}/global_netblocks.txt \
           --cccsv /srv/mirrorlist/data/mirrorlist{{ item }}/country_continent.csv
{% endif %}

[Install]
WantedBy=multi-user.target
