{% for host in groups['all']|sort %}
{% if hostvars[host].datacenter == 'ec2' and hostvars[host].nagios_Check_Services['ping'] == true %}
define host {
{% if vars['nagios_location'] == 'internal' %}
   use                     defaulttemplate
{% else %}
  use                          mincheck
{% endif %}

   host_name               {{ host }}
{% if hostvars[host].ansible_hostname is defined %}
   alias                   {{ hostvars[host].ansible_hostname }}
{% else %}
   alias                   {{ host }}
{% endif %}
{% if hostvars[host].eth0_ip is defined %}
   address                 {{ hostvars[host].eth0_ip }}
{% elif hostvars[host].ansible_default_ipv4 is defined %}
{% if hostvars[host].ansible_default_ipv4.address is defined %}
   address                 {{ hostvars[host].ansible_default_ipv4.address }}
{% endif %}
{% else %}
   address                 {{ host }}
{% endif %}
}
{% endif %}
{% endfor %}
